body{
    background : #fdfdfd
}

.canvas{
    margin-left: 30%;

}
.square{
    display: inline;
    padding : 30px;
    border : 1px #000 solid;
    margin-right: .8px;
}
.button{
    text-decoration:  none;
    display: none;
}

